body {
    background-color: #ebebeb;
}

/* #region Encabezado  */

.encabezado {
    background-color: #fff159;

}

.lupa {
    background-color: white;
}

.navreducido {
    padding: 0.3rem 0.3rem !important;
    color: #33333399 !important;

}

.navreducido.opcionesUsuario {
    padding: 0.3rem 0.3rem !important;
    color: #33333399 !important;
}

.dropdown-item.favoritos,
.container-fluid.favoritos,
.show.favoritos,
.card-body.notificaciones {
    padding: 0rem !important;
}

.dropdown-divider.favoritos,
.dropdown-item.notificaciones {
    margin-bottom: 0px !important;
}

p.favoritos {
    font-weight: bold;
    font-size: small;
}

.card.notificaciones {
    border: transparent;
}

/* #endregion */

/* #region Carrousel */
.d-block.topCarousel {
    padding-top: 90px;
    height: 600px !important;
    padding-left: 132.5px !important;


}

.carousel-control-next {
    padding-left: 110px !important;
}

/* #endregion */

/* #region Medio de pago */
p.leyenda {
    font-size: 11px !important;
}

td.mdp {
    padding: 0px;
}

.card.mdp,
.container-fluid.mdp {
    padding: 0px !important;
    margin: 0px !important;
    height: 100px !important;
    border: 0px !important;


}

.container.mdp {
    border: 1px !important;
    padding: 4px;
    background-color: #fff;

}

tbody.mdp {
    height: 600px !important;
    padding: 0px !important;

    display: contents !important;

}

/* #endregion */

/* #region  titulos */
p.historial,
p.rubro {
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: -55px !important;
}

p.rubro {
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: -75px !important;
}

p.ofertas {
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

h3.historial {
    font-weight: 100;
}

/* #endregion */

.ultimavisita.card{
    height: 350px !important;
    width: 180px !important;
}
img.card-img-top{
    height: 224px !important;
    width: 150px !important;
    
    
}

.ultimavisita.container{
    margin-bottom: 100px !important;
    /* margin-left: 80px !important; */

    
}

/* #region Media Queries */
@media (min-width: 1369px) {
    .navreducido.opcionesUsuario {
        padding: 0.8rem 0.8rem !important;
        color: #33333399 !important;

    }

    .d-block.topCarousel {
        padding-top: 140px;
        height: 600px !important;
        padding-left: 250px !important;

    }

    .carousel-control-next {
        padding-left: 46px !important;
    }
}

@media (max-witdh: 990px) {

    p.leyenda,
    h6.card-title {
        color: green !important;
        background-color: #fff159 !important;
    }
}

/* #endregion */