body {
    background-color: #ebebeb;
    text-align: center;

}

/* #region  sombras para todos */
.ultimavisita.card:hover,
.dobleCard:hover,
.card.marcas:hover,
.tuhistorial.card:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.20), 0 2px 3px 0 rgba(0, 0, 0, 0.20);
}

/* #endregion */

/* #region Encabezado  */

.encabezado {
    background-color: #fff159;

}

.lupa {
    background-color: white;
}

.navreducido {
    padding: 0.3rem 0.3rem !important;
    color: #33333399 !important;

}

.navreducido.opcionesUsuario {
    padding: 0.3rem 0.3rem !important;
    color: #33333399 !important;
}

.dropdown-item.favoritos,
.container-fluid.favoritos,
.show.favoritos,
.card-body.notificaciones {
    padding: 0rem !important;
}

.dropdown-divider.favoritos,
.dropdown-item.notificaciones {
    margin-bottom: 0px !important;
    padding: .1rem;

}

p.favoritos {
    font-weight: bold;
    font-size: small;
}

.card.notificaciones {
    border: transparent;
    width: 100%;
}

.col.miscompras {
    padding: 0%;
    margin: 0%
}

td.miscompras {
    padding-left: 1rem;
}

.dropdown-menu.miscompras {
    height: 300px;
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

/* #endregion */

/* #region  Primer Carousel */
.d-block.topCarousel {
    margin-top: -20px !important;
    height: 500px;
}

.container-fluid.Imagenes {
    padding-left: 0rem;
    padding-right: 0rem;
}

.carousel-control-prev.Imagenes {
    margin-left: 0rem;
    width: 32px;
}

.carousel-control-next.Imagenes {
    width: 32px;
    margin-right: 0rem;
}

.carousel-control-prev-icon.Imagenes:hover,
.carousel-control-next-icon.Imagenes:hover {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);

}

.carousel-control-prev-icon.secciones,
.carousel-control-next-icon.secciones {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
}

.carousel-control-prev.secciones {
    width: 32px;
    margin-left: 7rem;
}

.carousel-control-next.secciones {
    width: 32px;
    margin-right: 8rem;
}

.indicadores {
    height: 0.50rem !important;
    width: 0.50rem !important;
    border: 0 !important;
    border-radius: 136px !important;
    border-color: black !important;
    background-color: cornsilk !important;
}

/* #endregion */

/* #region Medio de pago */
p.leyenda {
    font-size: 11px !important;
}

td.mdp {
    padding: 0px;
    align-items: center;
    height: 100%;
}
.table-responsive.mdp{
    height: 108px;
}

.card.mdp,
.container-fluid.mdp {
    padding: 0px !important;
    margin: 0px !important;
    height: 100px !important;
    border: 0px !important;


}
.mdp.mas{
    width: 8.56rem !important;
    height: 3rem !important;
}

.container.mdp {
    border: 1px !important;
    padding: 4px;
    background-color: #fff;

}

tbody.mdp {
    height: 600px !important;
    padding: 0px !important;

    display: contents !important;

}

/* #endregion */

/* #region  Titulos */

.row.titulossecciones {
    width: 100%;
}

a.titulossecciones {

    font-size: smaller;
    font-weight: 100;
    padding-bottom: 1rem;
}

h3.titulossecciones {
    font-weight: 150;
}


p.rubro {
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: -75px !important;
}

p.ofertas {
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

h3.historial {
    font-weight: 100;
}

/* #endregion */

/* #region  3 Carousels */

.ultimavisita.card {
    height: 350px !important;
    width: 210px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


img.card-img-top {
    height: 224px !important;
    width: 209px !important;
    align-items: center !important;
}

.ultimavisitaprecio {
    padding: 0px !important;
    margin: 0px !important;
}

.ultimavisitadescuento,
.ultimavisitaenvio {
    color: #00a650;
    margin-bottom: 0rem !important;
}

.ultimavisitacuotas {
    font-weight: 300;
    font-size: medium;
    margin-bottom: 0rem !important;
}

.carousel-control-prev-icon.Imagenes:hover,
.carousel-control-next-icon.Imagenes:hover {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);

}

.carousel-control-prev-icon.secciones,
.carousel-control-next-icon.secciones {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0);
}

.carousel-control-prev.secciones {
    width: 32px;
    margin-left: 7rem;
}

.carousel-control-next.secciones {
    width: 32px;
    margin-right: 8rem;
}

.carousel-control-prev.secciones.categorias {
    width: 32px;
    margin-left: 5.5rem;
}

.carousel-control-next.secciones.categorias {
    width: 32px;
    margin-right: 5.5rem;
}

/* #endregion */



/* #region  Tabla suscribite */
.table.suscripcion {
    padding-top: 5rem !important;

}

.encabezadosuscripcion {
    background: rgb(1, 95, 135);
    background: linear-gradient(90deg, rgba(1, 95, 135, 1) 0%, rgba(1, 117, 158, 1) 0%, rgba(148, 6, 255, 1) 0%, rgba(210, 25, 196, 1) 49%, rgba(2, 0, 36, 1) 100%);
    color: white;


}

.row.tituloEncabezado,
.bajadasuscripcion {
    padding: .5rem;
    text-align: start !important;
}

.itemsuscripcion {
    border-bottom: transparent !important;
}

.precios {
    padding: 0%;
}

.separador {
    padding: 0%;
    padding-top: 2rem;
    margin: 0%;
    margin-right: 0.5rem;
    margin-left: 4rem;
    background-color: #ebebeb;
    width: .15rem;
    height: 35px;
}

.preciotachado {
    text-decoration: line-through;
    font-weight: 100;
    font-size: smaller;
    padding: 0%;
    margin-bottom: 0%;
    margin-left: 0rem;


}

.precioactual {
    font-weight: 800;
    font-size: large;
    padding: 0%;

    margin-left: 0rem;
    margin-top: -0.5rem;
}

.card.suscripcion {
    width: 100%;
    height: 100%;
    border: transparent;
    align-items: center;
    vertical-align: middle;

}

.card-body.suscripcion {

    margin-top: 1rem;

}

.card-body.suscripcion.envio {

    margin: 0%;

}

.card-title.suscripcion {

    font-weight: 400;
    text-align: left;
}

.col-md-8.suscripcion {
    align-items: center;
    vertical-align: middle;
}

.img-fluid.suscripcion {
    width: 82px;
    height: 82px;
    border-color: #f7f7f7;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;


}

.botonSuscribite {
    padding: .0rem 1.5rem .0rem 1.rem;
}

p.botonSuscribite {
    margin: 0%;
}

/* #endregion */

/* #region  Beneficios */
p.beneficios {
    margin-left: -5rem;
    padding: 0px !important;
    text-align: left !important;
    margin-top: 10px !important;
    margin-left: -6rem !important;
}



/* #endregion */

/* #region  doble imagen */
.dobleImagen.der {
    margin-left: -1rem;
    height: 100%;

}

/* #endregion */
/* #region  marcas */
.card.marcas {
    width: 16.5rem;
    height: 21rem;
    padding: 0%;
    padding-bottom: 1rem;
    cursor: pointer;
}

.card-img-top.marcas {
    width: 100% !important;

}

/* #endregion */

/* #region  categorias */


td.categorias {
    color: #3483fa;
    padding: 0%;
    margin: 0%;
}

.card.categorias {

    padding: 2rem;
    height: 10rem;
    width: 10rem;
    border-radius: 0% !important;
    cursor: pointer;
}

.card-body.categorias {
    padding: 0%;

}

td.categorias:hover>.card.categorias,
td.categorias:hover>.card.categorias>.fa-solid.categorias,
td.categorias:hover>.card.categorias>.card-body.categorias>.card-text.categorias {
    color: whitesmoke;
    background-color: #3483fa;
}

/* .categorias {
    color: #3483fa;

} */

.fa-card.categorias {
    font-size: xx-large;
}

/* #endregion */

/* #region  tu historial */

.col.tuhistorial {
    padding: 0%;
}

.tuhistorial.card {
    height: 13rem;
    width: 9.5rem;
    padding: 0%;
    padding: 0%;
    background-color: transparent !important;
    border: transparent !important;
}

.card-img-top.tuhistorial {
    align-self: center;
    width: 100% !important;
    height: auto !important;
}

.card-body.tuhistorial {
    padding: 0%;
    background-color: transparent;
    color: transparent !important;

}

.tuhistorial.card:hover>.card-body.tuhistorial {
    background-color: white;
    color: black !important;
}

.carousel-control-prev.secciones.tushitorial {
    width: 32px;
    margin-left: 18rem;
}

.carousel-control-next.secciones.tuhistorial {
    width: 32px;
    margin-right: 7rem;
}

.container-fluid.informacion {
    background-color: white;
}


/* #endregion */

/* #region  informacion */
.card.informacion {
    height: 16rem;
    width: 22rem;
    align-items: center;
    vertical-align: middle;
    padding-top: 2rem;
    width: 100%;
    border: 0px;
}

.card-body.informacion {
    padding: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0rem 1rem 0rem 1rem;
}

.card-img-top.informacion {
    height: 4rem !important;
    width: 4rem !important;
}

.col.informacion {
    margin: 0%;
    padding: 0%;
}

.card-link.informacion,
.card-link.infolegal {
    text-decoration: none;
}

.separadorinfo {
    width: 1px !important;
    background-color: rgba(205, 218, 213, 0.603) !important;
    height: 5rem !important;
    vertical-align: middle !important;
    display: inline;
    margin-top: 5rem;

}

.col.infolegal {
    margin-right: 2rem;
}

.card.infolegal {
    border-width: 1px !important;
    border-color: rgba(205, 218, 213, 0.603);
    height: 100%;
}

.img.logoslegales {
    height: 3rem !important;
    width: auto;
    align-self: flex-end;
}

.col.logoslegales {
    text-align: right;
}

/* #endregion */

a.masinfo {
    text-decoration: none;
}

p.masinfo {
    font-size: small;
    color: black;
}

.col.masinfo {
    padding: 0%;
    margin: 0%;

}

p.masinfofinal {
    font-size: small;
    color: black;
    text-align: left;
    padding: 0%;
    margin: 0%;
    margin-left: 2rem;
}

.container.masinfo {

    background-color: #fff;
}

.navmasinfo,
.container-fluid.masinfo {

    background-color: #f7f7f7;
}

.container-fluid.navmasinfo.boton {
    background-color: #fff;
}

.footer.masinfo {
    padding: 0% !important;
}

.col-6.navmasinfo,
.col.navmasinfo {
    margin: 0;
    padding: 0%;
    text-align: left;
}

a.navmasinfo,
.list-group-item.navmasinfo,
.card.navmasinfo {
    background-color: #f7f7f7;
    padding: 0%;
    margin: 0%;
    width: 10rem;
    border-color: transparent;
    font-size: smaller;
    text-decoration: none;
    color: black;
}

.navbar-toggler.navmasinfo,
.align-items-center.navmasinfo {
    background-color: #f7f7f7;
    border: 1px solid #eee;

}

.navbar.navbar-light.navmasinfo {
    border-top: 1px solid #eee;
}

.container-fluid.navmasinfo.boton {
    border-bottom: #eee solid 1px;
    margin-bottom: -2px;
}


/* #region  Media queries */

@media (min-width: 1369px) {
    .navreducido.opcionesUsuario {
        padding: 0.8rem 0.8rem !important;
        color: #33333399 !important;

    }

    .d-block.topCarousel {
        margin-top: -20px !important;
        height: 21.4rem;
    }

    .container-fluid.Imagenes {
        padding-left: 9.5em;
        padding-right: 9.5rem;
        margin-top: 7.6rem !important;


    }

    .carousel-control-prev.Imagenes {
        margin-left: -9.5rem;
        width: 32px;
    }

    .carousel-control-next.Imagenes {
        width: 32px;
        margin-right: -9.5rem;
    }

    .carousel-control-next.secciones {
        width: 32px;
        margin-right: 21rem;
    }

    .carousel-control-prev.secciones {
        width: 32px;
        margin-left: 18.9rem;
    }

    p.historial,
    p.rubro {
        padding: 0px !important;
        text-align: left !important;
        margin-top: 10px !important;
        margin-left: -115px !important;
    }

    p.rubro {
        padding: 0px !important;
        text-align: left !important;
        margin-top: 10px !important;
        margin-left: -165px !important;
    }

    p.ofertas {
        padding: 0px !important;
        text-align: left !important;
        margin-top: 10px !important;
        margin-left: -5px !important;
    }

    .ultimavisita.card {
        height: 350px !important;
        width: 210px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin: 2.5rem;

    }

    .col-10.tituloEncabezado {
        margin-right: 6rem;
    }


    .separador {
        padding: 0%;
        padding-top: 2rem;
        margin: 0%;
        margin-right: 0.5rem;
        background-color: #ebebeb;
        width: .10rem;
        height: 35px;
    }

    p.beneficios {

        padding: 0px !important;
        text-align: left !important;
        margin-top: 10px !important;
        margin-left: -10.5rem !important;
    }

    .dobleImagen {
        height: 18rem !important;
        padding: 0% !important;
        margin: 0%;
    }

    .dobleImagen.izq {
        width: 100%;
        margin-left: 1rem;
    }

    .dobleImagen.der {
        margin-left: -1rem;

    }



    .card.marcas {
        width: 19rem;
        height: 23rem;
        padding: 0%;
        padding-bottom: 1rem;
    }

    .carousel-control-prev.secciones.categorias {
        width: 32px;
        margin-left: 18rem;
    }

    .carousel-control-next.secciones.categorias {
        width: 32px;
        margin-right: 19rem;
    }

    .carousel-control-prev.secciones.marcas {
        width: 32px;
        margin-left: 18rem;
    }

    .carousel-control-next.secciones.marcas {
        width: 32px;
        margin-right: 19rem;
    }

    .carousel-control-prev.secciones.tushitorial {
        width: 32px;
        margin-left: 18rem;
    }

    .carousel-control-next.secciones.tuhistorial {
        width: 32px;
        margin-right: 20rem;
    }

    .table-responsive.categorias {
        margin-left: 5rem;
    }
}





@media (max-witdh: 990px) {

    p.leyenda,
    h6.card-title {
        color: green !important;
        background-color: #fff159 !important;
    }
}

/* #endregion */